.Container {
    justify-content: flex-end;
}

.DebugText {
    -unity-font-definition: url("project://database/Assets/TextMesh%20Pro/Examples%20&%20Extras/Fonts/Roboto-Bold.ttf?fileID=12800000&guid=4beb055f07aaff244873dec698d0363e&type=3#Roboto-Bold");
    font-size: 27px;
    color: rgba(0, 0, 0, 0.55);
}
